@import 'app-variables';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: 'SBBWeb Light', Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1, h2 {
  font-family: 'SBBWeb Thin', Arial, Helvetica, sans-serif;
  margin: 0;
}

h3, h4, h5, h6 {
  font-family: 'SBBWeb Regular', Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.47rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

main > .container {
  padding-top: $headerHeight / 2;
}
