@import 'sbb-colors';

// Primary button red
.ui-button-primary {
  background-color: $sbb-red-100;
  color: $sbb-white;
}

.ui-button.ui-button-primary.ui-state-default {
  border-color: $sbb-red-100;
  background-color: $sbb-red-100;

  .ui-button-text {
    color: $sbb-white;
  }

  &:enabled:hover,
  &:focus {
    border-color: $sbb-red-125;
    background-color: $sbb-red-125;
  }
}

// Growl
.ui-growl {
  z-index: 1050 !important;
}

.ui-growl-item-container {
  color: $sbb-white;
}

.ui-growl-message-warn, .ui-messages-warn {
  background-color: $warning;
}

.ui-growl-message-info, .ui-messages-info {
  border-color: $info;
  background-color: $info;
}

.ui-growl-message-success, .ui-messages-success {
  background-color: $success;
}

.ui-growl-message-error, .ui-messages-error {
  background-color: $danger;
}

// Kalender ausgewählter Tag
.ui-datepicker-calendar .ui-state-active {
  color: $sbb-white !important;
}
// Kalender aktueller Tag
.ui-datepicker-calendar .ui-state-highlight {
  color: $sbb-black-100 !important;
  background-color: $sbb-black-20;
}

// active & focus soll active gewinnen:
.ui-state-active.ui-state-focus {
  border-color: $sbb-red-100;
  background: $sbb-red-100;
  color: $sbb-white;
}

// Input switches
.ui-inputswitch.ui-widget-content {
  border: 1px solid $sbb-black-40;
}

.ui-inputswitch-handle.ui-state-default {
  border-color: $sbb-black-40;
  background-color: $sbb-black-40;
}

// Radio buttons
.ui-radiobutton-box.ui-state-active {
  background-color: $sbb-white;
  color: $sbb-black-100;
  border-color: $sbb-black-100;
}

.ui-radiobutton-label{
    margin-bottom: 0px;
}

.ui-radiobutton-box {
    font-size: 16px;
}

.ui-slider {
  background: $sbb-black-40;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

// Checkbox labels
.ui-chkbox-label {
  margin-bottom: 0px;
}

// Paginator
.ui-paginator-element.ui-state-active {
  color: $sbb-white !important;
}

.ui-steps-item.ui-state-highlight {
  border: 1px solid $sbb-red-100;
}
.ui-steps-item.ui-state-active {
  border: 1px solid $sbb-red-100;
}

// Progressbar
.ui-progressbar {
  border: 1px solid $sbb-black-40;
}
.ui-progressbar .ui-widget-header {
  background-color: $sbb-black-40;
}