@import 'sbb-colors';
@import 'boostrap-sbb-styles';

//Header
$headerBorderWidth: 0;
$headerBorderColor: $sbb-black-20;
$headerBgColor: $sbb-black-5;
$headerTextColor: $sbb-black-100;
$headerFontWeight: normal;
$headerIconTextColor: $sbb-black-90;

//Content
$contentBorderWidth: 0;
$contentBorderColor: $sbb-black-20;
$contentBgColor: $sbb-white;
$contentTextColor: $sbb-black-100;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: $sbb-black-20;
$stateDefaultBgColor: $sbb-black-5;
$stateDefaultTextColor: $sbb-black-80;

//Active State
$stateActiveBorderColor: $sbb-black-90;
$stateActiveBgColor: $sbb-red-100;
$stateActiveTextColor: $sbb-white;

//Highlight State
$stateHighlightBorderColor: $sbb-black-20;
$stateHighlightBgColor: $sbb-red-100;
$stateHighlightTextColor: $sbb-white;

//Focus State
$stateFocusBorderColor: $sbb-black-20;
$stateFocusBgColor: $sbb-red-100;
$stateFocusTextColor: $sbb-white;

//Error State
$stateErrorBorderColor: $sbb-red-100;
$stateErrorBgColor: $sbb-white;
$stateErrorTextColor: $sbb-red-100;

//Hover State
$stateHoverBorderColor: $sbb-black-20;
$stateHoverBgColor: $sbb-red-100;
$stateHoverTextColor: $sbb-white;

//Forms
$inputBgColor: $sbb-white;
$inputTextColor: $sbb-black-100;
$invalidInputBorderColor: $sbb-red-100;
$inputGroupTextColor: $sbb-black-100;

// Typography
$fontFamily: $font-family-base;
$fontSize: 1em;
$borderRadius: 0px;
$disabledOpacity: 0.35;

// Import base prime ng theme
@import '~primeng/resources/themes/theme';

