// Farben gemäss Digitale Richtlinien SBB.

// Call to Action Elements.
$sbb-red-100: #eb0000;
// Hover für Call to Action.
$sbb-red-125: #c60018;
$sbb-red-150: #a20013;

// Hintergrundfarbe.
$sbb-black-5: #f6f6f6;
$sbb-black-10: #e5e5e5;
// Secondary Button.
$sbb-black-20: #d2d2d2;
$sbb-black-30: #bdbdbd;
$sbb-black-40: #a8a8a8;
$sbb-black-60: #767676;
$sbb-black-70: #686868;
$sbb-black-80: #5a5a5a;
// Fallback Button.
$sbb-black-90: #444444;
// Schrift.
$sbb-black-100: #1e1e1e;

// Inhaltscontainer.
$sbb-white: #ffffff;

// Piktogramm-Hintergrund, ansonsten unzulässig
$sbb-blue: #003399;

// Business-App Colors
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;
